:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#050316, #eae9fc);
  background-color: #101e6e;
  background: light-dark(#fbfbfe, #010104);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: light-dark(#3a31d8, #2f27ce);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:light-dark(#050316, #eae9fc);
}

p {
  color: light-dark(#050316, #eae9fc);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.about-body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column; /* Center content vertically */
  gap: 15px;
}
* {
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  /* REALLY IMPORTANT DO NOT REMOVE THIS
  *  Video for context: https://www.youtube.com/watch?v=cH8VbLM1958
  */
  min-width: 0;
}
.about-box {
  width: 80%; /* Default width for responsive design */
  max-width: 800px; /* Max width on larger screens */
  padding: 20px;
  font-size: 16px;
  background-color: light-dark(#2f27ce, #3a31d8); /* White background */
  color: white;
  border: 2px solid #1976d2; /* Blue border */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow to make it pop */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.about-box p {
  margin: 0;
  font-size: 16px;
  color: white;
  text-align: justify;
}

.home-main img {
  width: 250px;
}

.home-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.home-body b {
  width: 80%;
  max-width: 700px;
}

.uploadFile {
  margin: 15px
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
